/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width: 1400px) {
}

/* lg <= Extra large (xl) */
@media (max-width: 1200px) {
}

/* md <= Large (lg) */
@media (max-width: 992px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }
  .arrUp {
    right: 11px;
  }
}

/* sm <= Medium (md) */
@media (max-width: 768px) {
  .arrow-up {
    fill: var(--accent);
  }
  .arrUp {
    background: rgb(17, 17, 17);
    border-radius: 10rem;
  }
  .header {
    padding: 15px 0;
  }
  .title {
    margin-top: 0;
  }
  .logo {
    width: 149px;
    height: 38px;
  }
}

/* xs <= Small (sm) */
@media (max-width: 576px) {
  .star-container--chk .star {
    width: 34px;
    height: 34px;
  }
  .title {
    font-size: 23px;
  }
  body {
    font-size: 18px;
  }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}

/* Small (sm) */
@media (min-width: 576px) {
}

/* Medium (md) */
@media (min-width: 768px) {
}

/* Large (lg) */
@media (min-width: 992px) {
}

/* Extra large (xl) */
@media (min-width: 1200px) {
  .text {
    font-size: 18px;
  }
}

/* Extra extra large (xxl) */
@media (min-width: 1400px) {
  .text {
    font-size: 22px;
  }
}
